.contact-content {
    height: 400px;
    height: 80vh;
    /*background-color: rgba(255, 255, 255, 0.986);*/
    display: block;
    margin-top: 32px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.contact-content::after {
    content: "";
    background-image: url('../img/home.svg');
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    z-index: -1;
}

.contact-form {}